:root {
  --h1-font-family: "Funnel Display", Helvetica;
  --h1-font-weight: 400;
  --h1-font-size: 36px;
  --h1-letter-spacing: 0px;
  --h1-line-height: normal;
  --h1-font-style: normal;
  --h2-font-family: "Funnel Sans", Helvetica;
  --h2-font-weight: 400;
  --h2-font-size: 24px;
  --h2-letter-spacing: 0px;
  --h2-line-height: normal;
  --h2-font-style: normal;
  --h3-font-family: "Funnel Sans", Helvetica;
  --h3-font-weight: 400;
  --h3-font-size: 20px;
  --h3-letter-spacing: 0px;
  --h3-line-height: normal;
  --h3-font-style: normal;
  --h4-font-family: "Funnel Sans", Helvetica;
  --h4-font-weight: 500;
  --h4-font-size: 16px;
  --h4-letter-spacing: 0px;
  --h4-line-height: normal;
  --h4-font-style: normal;
  --h5-font-family: "Funnel Sans", Helvetica;
  --h5-font-weight: 400;
  --h5-font-size: 14px;
  --h5-letter-spacing: 0px;
  --h5-line-height: normal;
  --h5-font-style: normal;
  --variable-collection-cool-black: rgba(24, 24, 28, 1);
  --variable-collection-warm-white: rgba(244, 244, 240, 1);
}
